@import "../../style/variables.css";

.container {
  position: absolute;
  top: 0;
}

.popover {
  width: 150px;
  z-index: 100;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 14px;
  box-shadow: 0px 1px 10px rgba(0,0,0,.05);
  transform: translateY(63px);
  animation: cool .2s;
}

@keyframes cool {
  0% {
    transform: translateY(58px);
    opacity: 0.4;
  }
  100% {
    transform: translateY(63px);
    opacity: 1;
  }
}

.itemWrapper {
  width: 100%;
  line-height: 40px;
  background-color: #fff;
  transition: background-color .2s;
  font-weight: 700;
  border-bottom: 1px solid #eee;
  text-align: center;

  & a {
    display: block;
    color: color(var(--font-color-light) tint(20%));
    transition: color .2s;

    &:hover {
      color: var(--font-color);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

