@import "../../style/variables.css";

.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 20px;
  margin-right: 6px;
  font-size: 12px;
  color: #fff;
  background-color: var(--color-primary-light);
  transition: background-color .2s;

  &:hover,
  &:active {
    background-color: var(--color-primary);
  }
}
