@import "../../style/variables.css";

.root {
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
}

.imageWrapper {
  text-align: center;
  margin-bottom: 20px;

  & .image {
    height: auto;
    max-width: 100%;
  }
}

.postWrap {
  overflow: hidden;
  margin: 20px 0;
  padding: 0 15px;
  color: var(--font-color);
}

.authorWrapper {
  display: flex;
  align-items: center;

  & .postInfoWrapper {
    color: var(--font-color-light);
    margin-left: 10px;

    &:hover {
      color: var(--font-color);
    }
  }

  & .author {
    font-size: 16px;
    color: var(--color-primary);
  }

  & .age {
    font-size: 11px;
    color: var(--font-color-light);
  }
}

.avatar {
  border-radius: 50%;
}

.fileListWrapper {
  margin-bottom: 20px;
}

.fileWrapper {
  display: inline-block;
}

.fileLink {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 0 30px;
  height: 70px;
  border: 1px solid rgba(0,0,0,0.11);
  border-radius: 2px;
  color: var(--font-color);
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,.08);
  transition: background-color .2s;

  &:hover {
    background-color: gray(99%);
  }
}

.fileName {
  color: var(--font-color);
  font-weight: 700;
  font-size: 16px;
}

.fileName2 {
  font-size: 11px;
  color: color(var(--font-color-light) tint(30%));
}

.fileIcon {
  margin-right: 10px;
  fill: gray(85%);
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray(65%);
  float: right;
  margin: 7px;

  & .heart {
    fill: var(--color-red);
    margin: 0 4px;
  }

  &:hover {
    cursor: pointer;
  }
}
