.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.input {
  font-size: 0.9em;
  font-weight: 300;
  width: 100%;
  padding: 10px 20px 10px 35px;
  border: 1px solid rgba(0,0,0,0.15);
}

.input:focus {
  border: 1px solid rgba(0,0,0,0.3);
  outline: none;
}

i {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
  cursor: default;
  position: absolute;
  left: 0;
  height: 100%;
  width: 2em;
  text-align: center;
  top: 50%;
  margin-top: -0.5em;
}
