// this config is possibly overwritten in webpack.config.*.js
// this fragmented configuration setup is a result of needing to disable
// react-transform-hmr when rendering on the server.
// see: https://github.com/gaearon/react-transform-hmr/issues/38
{
  "presets": ["react", "es2015"]
}
