{
  "extends": "eslint-config-airbnb",

  // use babel's parser since eslint currently has no ES7 support
  "parser": "babel-eslint",

  // define global variables
  "env": {
    "browser": true,
    "node": true
  },

  // custom rules
  "rules": {
    "comma-dangle": 0,
  },

}
