.navLink {
  display: flex;
  align-items: center;
  padding: 1.32em 1em;
  font-size: 0.9em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  transition: background-color 0.15s ease, color 0.15s ease;
}

.navLink:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgb(247,247,247);
}
