@import "../../styles/variables.css";

.btn {
  color: rgb(255,255,255);
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  padding: 0.8em 1em;
  border: 0;
  border-radius: 4px;
  transition: background var(--transition-duration);
}

.btn:disabled,
.btn[disabled],
.btn[disabled]:hover {
  cursor: not-allowed;
  opacity: 0.3;
}

/* default (white) */
.btnNormal {
  composes: btn;
  background-color: rgb(255, 255, 255);
  color: color(var(--font-color) tint(10%));
  box-shadow: 0px 1px 1px rgba(0,0,0,0.11);
  border: 1px solid rgb(220,220,220);
}
.btnNormal:hover {
  color: color(var(--font-color) tint(0%));
  border: 1px solid rgb(200,200,200);
}
.btnNormal:focus,
.btnNormal:active {
  color: color(var(--font-color) tint(0%));
  border: 1px solid rgb(200,200,200);
}

/* primary */
.btnPrimary {
  composes: btn;
  background-color: var(--color-primary);
}
.btnPrimary:hover {
  background-color: color(var(--color-primary) shade(10%));
}
.btnPrimary:focus, 
.btnPrimary:active {
  background-color: color(var(--color-primary) shade(15%));
}

/* success */
.btnSuccess {
  composes: btn;
  background-color: var(--color-green);
}
.btnSuccess:hover {
  background-color: color(var(--color-green) shade(10%));
}
.btnSuccess:focus,
.btnSuccess:active {
  background-color: color(var(--color-green) shade(15%));
}

/* error */
.btnError {
  composes: btn;
  background-color: var(--color-red);
}
.btnError:hover {
  background-color: color(var(--color-red) shade(10%));
}
.btnError:focus, 
.btnError:active {
  background-color: color(var(--color-red) shade(15%));
}
