@import "../../style/variables.css";

.btn {
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  height: 36px;
  padding: 0 1em;
  border-radius: 2px;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  color: color(var(--font-color) tint(40%));
  background-color: var(--color-default);
  transition: all .2s;

  &:hover {
    color: color(var(--font-color) shade(5%));
    background-color: color(var(--color-default) shade(5%));
  }

  &:focus {
    box-shadow: 0px 0px 0px 1px white inset;
  }

  &:active {
    color: color(var(--font-color) shade(10%));
    background-color: color(var(--color-default) shade(10%));
  }
}

.btn.outline {
  background-color: rgba(0,0,0,0);
  border: 1px solid color(#000 alpha(-85%));

  &:hover,
  &:focus {
    border-color: color(#000 alpha(-75%));
    color: color(var(--font-color) tint(10%));
  }

  &:active {
    border-color: color(#000 alpha(-65%));
    color: color(var(--font-color) tint(0%));
  }
}

.btn.primary {
  color: #fff;
  background-color: var(--color-primary);

  &:hover {
    color: #fff;
    background-color: color(var(--color-primary) shade(10%));
  }

  &:focus {
    box-shadow: 0px 0px 0px 1px white inset;
  }

  &:active {
    color: #fff;
    background-color: color(var(--color-primary) shade(20%));
  }

  &.outline {
    border-color: currentColor;
    background-color: rgba(0,0,0,0);
    color: var(--color-primary);

    &:hover,
    &:focus {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
      color: #fff;
    }
  }
}

.btn.success {
  color: #fff;
  background-color: var(--color-green);

  &:hover {
    color: #fff;
    background-color: color(var(--color-green) shade(5%));
  }

  &:focus {
    box-shadow: 0px 0px 0px 1px white inset;
  }

  &:active {
    color: #fff;
    background-color: color(var(--color-green) shade(10%));
  }

  &.outline {
    border-color: currentColor;
    background-color: rgba(0,0,0,0);
    color: var(--color-green);

    &:hover,
    &:focus {
      border-color: var(--color-green);
      background-color: var(--color-green);
      color: #fff;
    }
  }
}

.btn.danger {
  color: #fff;
  background-color: var(--color-red);

  &:hover {
    color: #fff;
    background-color: color(var(--color-red) shade(5%));
  }

  &:focus {
    box-shadow: 0px 0px 0px 1px white inset;
  }

  &:active {
    color: #fff;
    background-color: color(var(--color-red) shade(10%));
  }

  &.outline {
    border-color: currentColor;
    background-color: rgba(0,0,0,0);
    color: var(--color-red);

    &:hover,
    &:focus {
      border-color: var(--color-red);
      background-color: var(--color-red);
      color: #fff;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn:disabled,
.btn[disabled] {
  &,
  &:hover,
  &:focus,
  &:active {
    cursor: not-allowed;
    color: var(--btn-disabled-color);
    background-color: var(--btn-disabled-bg);
    border: 1px solid var(--btn-disabled-border);
  }
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
}
