@import "../../styles/variables.css";

.btn {
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  padding: 0.8em 1em;
  border-radius: 4px;
  border-width: 0;
  background-color: #eee;
  color: color(var(--font-color) tint(40%));
  transition: border var(--transition-duration),
              color var(--transition-duration),
              background-color .1s;
}
.btn:hover,
.btn:focus,
.btn:active {
  color: color(var(--font-color) tint(25%));
}

/* blue */
.primary {
  color: #fff;
  background-color: var(--color-primary);
}
.primary:hover,
.primary:focus,
.primary:active {
  color: #fff;
  background-color: color(var(--color-primary) shade(5%));
}

/* green */
.success {
  color: #fff;
  background-color: var(--color-green);
}
.success:hover,
.success:focus,
.success:active {
  color: #fff;
  background-color: color(var(--color-green) shade(5%));
}

/* red */
.danger {
  color: #fff;
  background-color: var(--color-red);
}
.danger:hover,
.danger:focus,
.danger:active {
  color: #fff;
  background-color: color(var(--color-red) shade(5%));
}

/* outline */
.outline,
.outline:hover,
.outline:focus,
.outline:active {
  background-color: rgba(0,0,0,0);
  border-width: 1px;
  border-style: solid;
}
.btn.outline {
  border-color: color(#000 alpha(-85%));
}
.btn.outline:hover,
.btn.outline:focus,
.btn.outline:active {
  border-color: color(#000 alpha(-75%));
}
.primary.outline {
  color: color(var(--color-primary) tint(20%));
  border-color: color(var(--color-primary) alpha(-65%));
}
.primary.outline:hover,
.primary.outline:focus,
.primary.outline:active {
  color: var(--color-primary);
  border-color: color(var(--color-primary) alpha(-50%));
}
.success.outline {
  color: color(var(--color-green) tint(20%));
  border-color: color(var(--color-green) alpha(-65%));
}
.success.outline:hover,
.success.outline:focus,
.success.outline:active {
  color: var(--color-green);
  border-color: color(var(--color-green) alpha(-50%));
}
.danger.outline {
  color: color(var(--color-red) tint(25%));
  border-color: color(var(--color-red) alpha(-75%));
}
.danger.outline:hover,
.danger.outline:focus,
.danger.outline:active {
  color: var(--color-red);
  border-color: color(var(--color-red) alpha(-60%));
}

/* disabled */
.btn:disabled,
.btn[disabled],
.btn[disabled]:hover {
  opacity: 0.3;
  cursor: default;
}

/* bold */
.bold {
  font-weight: 600;
}
