@import "../../style/variables.css";
@custom-selector :--enter :hover, :focus;

.btn {
  cursor: pointer;
  user-select: none;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
  line-height: 1em;
  padding: 0.8em 1em;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(0,0,0,0);
  background-color: var(--color-default);
  color: color(var(--font-color) tint(40%));
  transition: border var(--transition-duration),
              color var(--transition-duration),
              background-color .1s;

  &:--enter {
    color: color(var(--font-color) shade(5%));
    background-color: color(var(--color-default) shade(5%));
  }

  &:active {
    color: color(var(--font-color) shade(10%));
    background-color: color(var(--color-default) shade(10%));
  }

  &.outline {
    background-color: rgba(0,0,0,0);
    border: 1px solid color(#000 alpha(-85%));

    &:--enter {
      border-color: color(#000 alpha(-75%));
      color: color(var(--font-color) tint(10%));
    }

    &:active {
      border-color: color(#000 alpha(-65%));
      color: color(var(--font-color) tint(0%));
    }
  }

  &.primary {
    color: #fff;
    background-color: var(--color-primary);

    &:--enter {
      color: #fff;
      background-color: color(var(--color-primary) shade(5%));
    }

    &:active {
      color: #fff;
      background-color: color(var(--color-primary) shade(10%));
    }

    &.outline {
      border-color: currentColor;
      background-color: rgba(0,0,0,0);
      color: var(--color-primary);

      &:--enter {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
        color: #fff;
      }
    }
  }

  &.success {
    color: #fff;
    background-color: var(--color-green);

    &:--enter {
      color: #fff;
      background-color: color(var(--color-green) shade(5%));
    }

    &:active {
      color: #fff;
      background-color: color(var(--color-green) shade(10%));
    }

    &.outline {
      border-color: currentColor;
      background-color: rgba(0,0,0,0);
      color: var(--color-green);

      &:--enter {
        border-color: var(--color-green);
        background-color: var(--color-green);
        color: #fff;
      }
    }
  }

  &.danger {
    color: #fff;
    background-color: var(--color-red);

    &:--enter {
      color: #fff;
      background-color: color(var(--color-red) shade(5%));
    }

    &:active {
      color: #fff;
      background-color: color(var(--color-red) shade(10%));
    }

    &.outline {
      border-color: currentColor;
      background-color: rgba(0,0,0,0);
      color: var(--color-red);

      &:--enter {
        border-color: var(--color-red);
        background-color: var(--color-red);
        color: #fff;
      }
    }
  }

  &:disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      opacity: 0.3;
      cursor: not-allowed;
      color: var(--btn-disabled-color);
      background: var(--btn-disabled-bg);
      border: 1px solid var(--btn-disabled-border);
    }
  }
}

.bold {
  font-weight: 600;
}
