@import "../../style/variables.css";

.dropzone {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-width: 1px;
  border-style: dashed;
  border-color: color(var(--color-primary) tint(70%));
  border-radius: 5px;
  min-height: 300px;
  margin: 40px 0;
  transition: border-color .2s;

  &:hover {
    border-color: var(--color-primary);
  }
}

.dzPreview {
  --preview-width: 300px;
  width: var(--preview-width);
  display: flex;
  height: 100px;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray(90%);
  border-radius: 5px;
  color: gray(40%);
  transition: color .2s, border-color .2s;

  &:hover {
    border-color: gray(80%);
    color: gray(25%);
  }
}

.previewWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.fileIcon {
  fill: var(--color-primary-light);
}

.fileName {
  font-weight: 700;
  margin: 0;
}

.fileSize {
  margin-top: 0;
  margin-bottom: 10px;
}

.dzInfo {
  padding-left: 10px;
  font-size: 12px;
  /* width: calc(var(--preview-width) - 60px); */ /* FIXME */
  width: calc(300px - 60px);
}

.dzThumbnail {
  border-radius: 5px;
}

.blankslate {
  display: flex;
  flex-direction: column;
  align-items: center;
}
