.wrapper {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.error {
  color: rgb(220, 40, 40);
}

.header {
  color: rgb(46, 68, 83);
  font-weight: 300;
  font-size: 1.5em;
}
