.root {
  composes: root from "../Login/styles.css";
}

.header {
  composes: header from "../Login/styles.css";
}

.submitBtn {
  composes: submitBtn from "../Login/styles.css";
}

.footer {
  composes: footer from "../Login/styles.css";
}
