@import "../../style/variables.css";

.root {
  composes: root from "../Login/style.css";
}

.header {
  composes: header from "../Login/style.css";
}

.submitBtn {
  composes: submitBtn from "../Login/style.css";
}

.footer {
  composes: footer from "../Login/style.css";
}

.error {
  composes: error from "../Login/style.css";
}

.icon {
  composes: icon from "../Login/style.css";
}
