.root {
  composes: root from "../Login/styles.css";
}

.header {
  composes: header from "../Login/styles.css";
}

.wide {
  composes: wide from "../Login/styles.css";
}

.footer {
  composes: footer from "../Login/styles.css";
}
