@import "../../style/variables.css";

.root {
  width: 100%;
}

.bioWrapper {
  margin: 0 auto;
}

.bio {
  margin: 4em 0;
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.username {
  margin: 10px 0;
  font-size: 40px;
  font-weight: 700;

  & a {
    color: var(--font-color);
  }
}

.joined {
  margin: 0;
  color: var(--font-color-light);
  font-size: 14px;
}

.activity {
  color: var(--font-color);
  margin: 0 auto;
}

.tabWrapper {
  margin-bottom: 35px;
}

.tab {
  color: var(--font-color-light);
  font-weight: 700;
  font-size: 16px;
  margin-right: 25px;
  cursor: pointer;
  transition: color .2s;

  &:hover {
    color: var(--font-color);
  }

  &:active {
    color: gray(70%);
  }
}

.tabActive {
  composes: tab;
  color: var(--font-color);

  &:active {
    color: var(--font-color);
  }
}
