@import "../../style/variables.css";

.root {
  margin: 1em 0;
  width: 100%;
}

.bioWrapper {
  margin: 0 auto;
  width: 400px;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
}

.username {
  margin: 0;
  font-size: 48px;

  & a {
    color: var(--font-color);
  }
}

.joined {
  color: var(--font-color-light);
  font-size: 12px;
}

.avatar {
  border-radius: 999em;
  margin-right: 40px;
}

.activity {
  color: var(--font-color);
  width: 80%;
  margin: 0 auto;

  & .h3 {
    color: var(--font-color-light);
    font-weight: 400;
    font-size: 18px;
  }
}


.rWrapper {
  overflow: hidden;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid rgba(0,0,0,0.11);
  border-radius: 4px;
  color: var(--font-color-light);
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.10);
  }

  & .rTitle {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    transition: color .2s;
  }

  &:hover .rTitle {
    color: var(--font-color);
  }

}

.rTag {
  background-color: var(--link-color);
  color: #fff;
  border-radius: 5px;
  padding: 1px 8px;
  margin-right: 6px;
  font-size: 14px;
  opacity: 0.85;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }
}

.rAge {
  margin-top: 5px;
  font-size: 12px;
}

.notFoundWrapper {
  & .sadIcon {
    fill: hsla(198, 86%, 91%, 1);
  }

  text-align: center;
  color: var(--font-color);
  font-size: 130%;

  & .h1 {
    color: hsla(204, 29%, 25%, 1);
    font-size: 34px;
    font-weight: 700;
  }

  & .h2 {
    color: hsla(205, 28%, 63%, 1);
    font-size: 22px;
    font-weight: 400;
  }
}
