@import "../../style/variables.css";

.root {
  margin: 1em 0;
  width: 100%;
}

.form {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  color: var(--font-color);
  font-size: 32px;
  font-family: "Fira Mono", Arial;
  font-weight: 700;
  text-align: center;
}

.inputWrapper {
  display: flex;
  justify-content: center;
}

.input {
  margin-bottom: 40px;
  font-size: 16px;
  width: 100%;
}

.label {
  font-size: 28px;
  margin-right: 2em;
}

.dzIcon {
  fill: hsla(198, 86%, 91%, 1);
}

.dzHeader {
  color: hsla(204, 29%, 25%, 1);
  font-size: 22px;
  font-weight: 400;
  margin: 5px;
}

.dzSubHeader {
  color: hsla(205, 28%, 63%, 1);
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

.submitBtn {
  padding: 1.4em 4em;
  float: right;
}
