.root {
  margin: 1em 0;
  width: 100%;
}

.header {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.add {
  margin: 20px;
}

.submitBtn {
  width: 200px;
  height: 40px;
}

.error {
  color: var(--color-red);
  padding: 1em;
}
