@import "../../style/variables.css";

.root {
  margin: 1em 0;
  width: 100%;
}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  color: #666;
  font-size: 32px;
  font-family: "Fira Mono", Arial;
  font-weight: 700;
  text-align: center;
}

.input {
  margin-bottom: 40px;
}

.dzIcon {
  fill: gray(92%);
}

.dzHeader {
  font-size: 14px;
  color: gray(40%);
}

.dzSubHeader {
  margin: 0;
  font-size: 11px;
  color: gray(60%);
}

.submitBtn {
  padding: 1.4em 4em;
  float: right;
}
