@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 3.5em;
}

:global(#root) {
  height: 100%;
}

:root {
  font-family: "Lato", Arial;
  font-weight: 400;
  --nav-height: 20px;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}
