html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-top: 3.5em;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

fieldset {
  border: 0;
  padding: 0;
}

:global(#root) {
  height: 100%;
}
