/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700); */

:root {
  font-family: Arial;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-top: 3.5em;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

:global(#root) {
  height: 100%;
}
