@import "../../styles/variables.css";

.fieldset {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1.8em;
}

.errorMessage {
  color: var(--color-red);
  padding-top: 10px;
}

.errorMessage i {
  margin-right: 0.6em;
}
