@import "../../styles/variables.css";

.wrapper {
  margin: 3em auto;
}

.header {
  font-size: 26px;
  font-weight: normal;
}

.paragraph {
  font-size: 14px;
  line-height: 1.5em;
  color: rgba(0,0,0,0.87);
}
