.root {
  margin: 1em 0;
  width: 100%;
  font-size: 14px;
}

.table {
  width: 100%;
}

.root th,
.root td {
  padding: 15px 5px;
}

.root th {
  vertical-align: top;
  font-weight: 400;
}

.tagSearch {
  margin: 5px;
}

.rowRank {
  width: 10%;
}

.rowImage {
  width: 30%;
}

.rowDate {
  width: 30%;
}

.rowTag {
  width: 30%;
}

/* TagList */

.taglist {
  text-align: right;
  width: 20%;
  max-width: 20%;
}

.tag {
  display: inline-block;
  margin: 0 3px;
  line-height: 1.5;
  padding: 0 3px;
  background-color: #eee;
}

td.img {
  text-align: center;
  vertical-align: middle;
}
