@import "../../style/variables.css";

.root {
  margin: 1em 0;
  width: 100%;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.tab {
  color: gray(40%);
  margin-right: 30px;
  cursor: pointer;
  padding: 9px 20px;
  transition: color .2s;
  font-size: 14px;

  &:hover {
    color: var(--color-primary-light);
  }
}

.tabActive {
  composes: tab;
  color: var(--color-primary);
}

.search {
  float: right;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.iconInactive {
  fill: gray(70%);
  cursor: pointer;

  &:hover {
    fill: gray(50%);
  }
}

.iconActive {
  fill: var(--color-primary-light);
  cursor: pointer;
}

.searchInput {
  width: 220px;
  border: 0;
  height: 35px;
  padding-left: 5px;
  background-color: var(--body-bg-color);
  color: var(--font-color);

  &:hover, &:focus {
    border: 0;
    outline: 0;
  }
}
