.root {
  margin: 1em 0;
  width: 100%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;

  & .tagSearch {
    margin: 5px;
    width: 220px;
    padding: 0 15px;
    border-radius: 999em;
  }
}

.sortLinks a {
  color: gray(60%);
  font-weight: 600;
  margin-right: 15px;

  &:hover {
    color: gray(40%);
  }
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
