.container {
  margin-bottom: 25px;
}

.infoWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity .15s ease-in-out;

  &:hover .flexCenter {
    transform: translateY(0px);
  }

  &:hover {
    opacity: 1;
  }
}

.infoWrapper2 {
  position: absolute;
  bottom: 4px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  text-align: left;
  color: white;
  height: 40px;
  background: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0));
}

.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  transform: translateY(5px);
  transition: transform .15s ease-in-out, opacity .1s;

  &:hover {
    opacity: 1;
  }
}

.link {
  display: flex;
  align-items: center;
  color: white;
}

.avatar {
  border-radius: 99em;
  margin-right: 7px;
}

.username {
}

.likeIcon {
  fill: white;
  margin-left: 3px;
}
