@import "../../styles/variables.css";

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.15);
  font-weight: 400;
  box-shadow: none;
  outline: none;
  transition: all var(--transition-duration);
}

.input:hover {
  border: 1px solid rgba(0,0,0,0.3);
}

.input:focus,
.input:active {
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 2px color(var(--color-primary) tint(70%));
}

.invalid,
.invalid:hover {
  border: 1px solid var(--color-red);
}
.invalid:focus,
.invalid:active {
  border: 1px solid var(--color-red);
  box-shadow: 0 0 0 2px color(var(--color-red) tint(70%));
}

.valid,
.valid:hover {
  border: 1px solid var(--color-green);
}
.valid:focus,
.valid:active {
  border: 1px solid var(--color-green);
  box-shadow: 0 0 0 2px color(var(--color-green) tint(70%));
}
