@import "./variables.css";
@import "https://fonts.googleapis.com/css?family=Lato:400,700";

body {
  font-family: "Lato", "Liberation Mono", monospace, serif;
  font-size: 14px;
  background: var(--body-bg-color);
}

html {
  box-sizing: border-box;
}

/* allow overriding box-sizing */
*,
*:before,
*:after {
  box-sizing: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button:active,
button:focus,
a:focus {
  outline: 0;
}

:global(#root) {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}
