@import "./variables.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

/* allow overriding box-sizing */
*, *:before, *:after {
  box-sizing: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button:active,
button:focus {
  outline: 0;
}

:global(#root) {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}
