@import "../../style/variables.css";

.root {
  padding-bottom: 10px;
}

.checkbox {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  border: 1px solid #ccc;
  line-height: 1;
  transition: background-color .1s;
}

.checkboxChecked {
  composes: checkbox;
  background-color: var(--link-color);
  border-color: var(--link-color);
  transition: background-color .1s, border-color .1s;
}

.check {
  position: absolute;
  transform: rotate(45deg);
  left: 4px;
  top: 1px;
  width: 5px;
  height: 9px;
  border: 2px solid white;
  border-top: 0;
  border-left: 0;
}

.input {
  vertical-align: middle;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.label {
  vertical-align: middle;
  color: var(--font-color);
  padding-left: 8px;
  cursor: pointer;
}
