@import "../../styles/variables.css";

.root {
  padding-bottom: 10px;
}

.checkbox {
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
}

.label {
  vertical-align: middle;
  color: var(--font-color);
  padding-left: 5px;
  cursor: pointer;
}
