@import "../../styles/variables.css";

.root {
  width: 100%;
  font-size: 0.9em;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--font-color);
  font-weight: 300;
  font-size: 1.5em;
}

.error {
  color: var(--color-red);
  padding: 1em;
}

.error i {
  margin-right: 0.6em;
}
