@import "../../styles/variables.css";

.root {
  width: 100%;
  font-size: 0.9em;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.header {
  color: var(--font-color);
  font-weight: 300;
  font-size: 1.5em;
}

.icon {
  fill: var(--color-red);
}

.wide {
  width: 100%;
}
