@import "../../style/variables.css";

.root {
  max-width: var(--body-width);
  height: 100%;
  margin: 0 auto;
}

.childWrapper {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-top: var(--nav-height);
  padding-left: 10px;
  padding-right: 10px;
}
