.btnDefault {
  cursor: pointer;
  background-color: rgb(33, 133, 208);
  color: rgb(255,255,255);
  width: 80%;
  font-weight: 700;
  font-size: 0.9em;
  text-decoration: none;
  text-align: center;
  border: none;
  line-height: 1em;
  outline: none;
  padding: 0.8em 1em;
  border-radius: 4px;
}

.btnDefault:hover {
  background-color: rgb(22, 120, 194);
}

.btnDefault:active {
  background-color: rgb(26, 105, 165);
}
